body
{
    /* background-color: rgb(32, 33, 36); */
    /* background: url(./notebook.jpg); */
    z-index: 1;
    

}
.content
{
    margin: 0;
    padding: 0;
}
nav
{
    background-color: rgb(32, 33, 36);
    
}
.nav-heading
{
    color: lightgray !important;
}
.navbar{
    margin-bottom:0px!important;
}
.searchbar
{
    width: 30vh !important;
}
.wrapper
{
    background-color: rgb(32, 33, 36);

    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0 auto;
}
.item
{
    height: calc(100vh - 56px);
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    position: relative;
    left: -300px;
}
.active1
{
    left: 0;

}
.active2
{
    grid-template-columns: 300px auto;
}
.active3
{
    color: yellow;
}

.form
{
    width: 50vh;
    margin: auto;
}
.add-btn
{
    width: 80px;
}
.wrapper ul
{
    padding: 0;
    margin: 0;
}
.wrapper ul li
{
    list-style: none;
    padding:15px 0 ;
    margin: 0;
    text-align: center;
    border-bottom: solid;
    border-width: .5px;
}

.content-section{
    border: 1px solid white;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
}

.content-main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 14px;
}
.content-section p{
    color:white;
    padding:10px 10px;
}
#sidebar-toggler:hover
{
    color: lightgray;
}
#sidebar-toggler:active
{
    color: yellow;
}
#sidebar-toggler
{
    font-size: 30px ;
    color: white;
    cursor: pointer;
}
